{% layout "layout.liquid" %}
{% block content %}

<div>
    <h2>Edit Animal</h2>

    <form action="/animals/{{ animal._id }}?_method=PUT" method="post">

    <fieldset>
        <legend>Edit: {{animal.name}}</legend>
            <label>Species: <input type="text" value="{{animal.species}}" name="species"></label>
            <label>Name: <input type="text" value="{{animal.name}}" name="name"></label>
            <label>Image: <input type="text" value="{{animal.img}}" name="img"></label>
            <label>Gender: <input type="text" value="{{animal.gender}}" name="gender"></label>
            <label>Age: <input type="text" value="{{animal.age}}"name="age"></label>
            <label>Breed: <input type="text" value="{{animal.breed}}" name="breed"></label>
            <label>Neutered/Spayed: <input type="text" value="{{animal.neuteredSpayed}}" name="neutered/spayed"></label>
            <label>On-Hold: <input type="text" value="{{animal.onHold}}"name="on-hold"></label>
            <input type="submit" value="update {{animal.name}}">    
    </fieldset>

    </form> 

    <a href ="/animals">Back to All Animals</a>
</div>

{% endblock %}


