{% layout "layout.liquid" %}
{% block content %}
<link rel="stylesheet" href="/css/edit.css">

<style>
    h2 {
        margin: 2%;
        text-align: center;
    }

    .return-page {
        text-align: center;
        margin: 2%;
    }

    fieldset {
        background-color: #A4EBF3;
    }

body{
    background-color: #D0E8F2;
}
</style>

<body>
    
</body>
<div>
    <h2>Edit Animal</h2>

    <form action="/animals/{{animal._id}}?_method=PUT" method="post">

    <fieldset>
        <legend>Edit: {{animal.name}}</legend>
            <label>Species: <input type="text" value="{{animal.species}}" name="species"></label>
            <label>Name: <input type="text" value="{{animal.name}}" name="name"></label>
            <label>Image: <input type="text" value="{{animal.img}}" name="img"></label>
            <label>Gender: <input type="text" value="{{animal.gender}}" name="gender"></label>
            <label>Age: <input type="text" value="{{animal.age}}"name="age"></label>
            <label>Breed: <input type="text" value="{{animal.breed}}" name="breed"></label>
            <label>Neutered/Spayed: <input type="text" value="{{animal.neuteredSpayed}}" name="neutered/spayed"></label>
            <label>On-Hold: <input type="text" value="{{animal.onHold}}"name="on-hold"></label>
            <input type="submit" value="Update {{animal.name}}">    
    </fieldset>

    </form> 

    <div class="return-page">
        <a href ="/animals">Back to All Animals</a>
    </div>
    
</div>
</body>

{% endblock %}


