{% layout "layout.liquid" %}
{% block content %}

<style>
    body {
    background-color: #D0E8F2;
  }
</style>

<body>
    
<div>

    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#myCarousel" data-bs-slide-to="1"></li>
            <li data-bs-target="#myCarousel" data-bs-slide-to="2"></li>
            <li data-bs-target="#myCarousel" data-bs-slide-to="3"></li>
            <li data-bs-target="#myCarousel" data-bs-slide-to="4"></li>
            <li data-bs-target="#myCarousel" data-bs-slide-to="5"></li>
            <li data-bs-target="#myCarousel" data-bs-slide-to="6"></li>
            <li data-bs-target="#myCarousel" data-bs-slide-to="7"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://g.petango.com/photos/1686/d8fd9fef-943a-4f86-8521-19a14781b5f7.jpg" class="rounded mx-auto d-block" alt="">
                <div class="carousel-caption d-none d-md-block">
                    <p>Gumaro</p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <img src="https://g.petango.com/photos/1686/80ba691b-d79d-448a-be24-3f86c706b0cd.jpg" class="img-fluid rounded mx-auto d-block" alt="">
                    <div class="carousel-caption d-none d-md-block">
                        <p>Rosalia</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <img src="https://g.petango.com/photos/1686/7539624f-c9f2-4988-b783-d09894cff49f.jpg" class="img-fluid rounded mx-auto d-block" alt="">
                    <div class="carousel-caption d-none d-md-block">
                        <p>Josh</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <img src="https://g.petango.com/photos/1686/e12c8f8a-21cf-4f2a-922b-c6ad5ecfd622.jpg" class="img-fluid rounded mx-auto d-block" alt="">
                    <div class="carousel-caption d-none d-md-block">
                        <p>Bruce</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <img src="https://g.petango.com/photos/1686/8d90f46a-76a7-4658-aa8a-ac17df30be42.jpg" class="img-fluid rounded mx-auto d-block" alt="">
                    <div class="carousel-caption d-none d-md-block">
                        <p>Joenie</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <img src="https://g.petango.com/photos/1686/48345008-946e-4dd0-999b-16a9f2331567.jpg" class="img-fluid rounded mx-auto d-block" alt="">
                    <div class="carousel-caption d-none d-md-block">
                        <p>Pico</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <img src="https://g.petango.com/photos/1686/63efaeeb-efea-4658-a290-c74bede91084.jpg" class="img-fluid rounded mx-auto d-block" alt="">
                    <div class="carousel-caption d-none d-md-block">
                        <p>Bobby</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <img src="https://g.petango.com/photos/1686/e8ed9de6-85e1-4779-b0d1-6601c7765043.jpg" class="img-fluid rounded mx-auto d-block" alt="">
                    <div class="carousel-caption d-none d-md-block">
                        <p>Mr. Meowgi</p>
                    </div>
                </div>
            </div>

        </div>
        <a href="#myCarousel" class="carousel-control-prev" role="button" data-bs-slide="prev">
            <span class="sr-only"></span>
            <span class="carousel-control-prev-icon" visually-hidden="true"></span>
        </a>
        <a href="#myCarousel" class="carousel-control-next" role="button" data-bs-slide="next">
            <span class="sr-only"></span>
            <span class="carousel-control-next-icon" visually-hidden="true"></span>
        </a>

    </div>
</div>


<div class="index-route">

    <h1 class="text-center">VIEW ALL BELOW</h1>
    <div class="container">
    <div class="row">

        {% for animal in animals %}

            <div class="col mb-5">
                <div class="card" style="width: 20rem">
                    <a href="/animals/{{ animal._id }}">

                    <img src="{{animal.img}}" class="card-img-top">
                            <div class="card-body">
                                <h2 class="card-title">{{animal.name}}</h2>
                                <p class="card-text">{{animal.species}}</p>
                            </div>
                    </a>                     
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Gender: {{animal.gender}}</li>
                                    <li class="list-group-item">Age: {{animal.age}}</li>
                                    <li class="list-group-item">Breed: {{animal.breed}}</li>
                                    <li class="list-group-item">Neutered/Spayed: {{animal.neuteredSpayed}}</li>
                                    <li class="list-group-item">On-Hold(pending-foster): {{animal.onHold}}</li>
                                </ul>
                            </div>

            </div>
        {% endfor %}

    </div>
    </div>
</div>

</body>

{% endblock %}






