{% layout "layout.liquid" %}
{% block content %}

<div id ="animal-list">
    {% for animal in animals %}
        <article>
            <a href="/animals/{{ animal._id }}">
                <h2>{{animal.name}}</h2>
                <h3>{{animal.species}}</h3>
                <ul>
                    <img src="{{animal.img}}"> 
                    <li>Gender: {{animal.gender}}</li>
                    <li>Age: {{animal.age}}</li>
                    <li>Breed: {{animal.breed}}</li>
                    <li>Neutered/Spayed: {{animal.neuteredSpayed}}</li>
                    <li>On-Hold(pending-foster): {{animal.onHold}}</li>
                </ul>
        </article>
    {% endfor %}
</div>

{% endblock %}
