{% layout "layout.liquid" %}
{% block content %}
<link rel="stylesheet" href="/css/show.css">

<div class="icons">
<a href="/animals/{{animal._id}}/edit"><button>⚙️</button></a>
    <form action="/animals/{{animal._id}}?_method=DELETE" method="post">
    <input type="submit" value="🗑">
</div>

<h1 class="text-center animal-title">{{animal.name}}</h1>

<div class="animal-page">
    <div>
        <img src="{{animal.img}}">
    </div>

    <div class="animal-content">
        <h2 class="text-center">FACTS ABOUT ME</h2>
        <ul>
            <li>Gender: {{animal.gender}}</li>
            <li> Age: {{animal.age}}</li>
            <li>Breed: {{animal.breed}}</li>
            <li>Neutered/Spayed; {{animal.neuteredSpayed}}</li>
            <li>On Hold: {{animal.onHold}}</li>
        </ul>
    </div>
</div>

<div class="show-footer">
    <a href ="/animals">Back to All Animals</a>
</div>

<h3 class="text-center">Other Pet's to Rescue</h3>


{% endblock %}
